{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Url Shortener</title>
    <link rel="stylesheet" href="{% static 'url/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'url/main.css' %}">
</head>
<body>
    <nav role="navigation">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="/">Home</a></li>
          <li role="presentation" class="active"><a href="{% url 'login' %}">User Login</a></li>
          <li role="presentation" class="active"><a href="{% url 'create_user' %}">Create New User</a></li>

          {% if request.user.is_authenticated %}
          <li role="presentation" class="active"><a href="{% url 'create_bookmark' %}">Create Bookmark</a></li>
          <li role="presentation" class="active"><a href="{% url 'profile' %}">User Profile</a></li>
          <li role="presentation" class="active"><a href="{% url 'logout' %}">Logout</a></li>
          <li role="presentation" class="active"><a href="">User is logged in as: {{ request.user }}</a></li>
          {% endif %}
        </ul>
    </nav>

<div class="container">
    {% block content %}
        <h1>Yo!  Sup?</h1>
    {% endblock %}
</div>
</body>
</html>


